<a href="pokemon/{{pokemon.name}}" class="card" style="width: 18rem;margin-bottom: 5px;">
  <div class="card-body">

    <div class="card-detail" >
      <div class="d-inline-block">
          <h5 class="card-title" >{{pokemon.name}} - <span>{{pokemon.number}}</span></h5>
      </div>

      <ul class="list-group list-group-horizontal">
        <div *ngFor="let type of pokemon.types">
            <li class="list-group-item {{type.type.name}}">{{type.type.name}}</li>
        </div>
      </ul>
    </div>

    <div class="card-img" *ngIf="pokemon.sprites">
      <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
    </div>

  </div>
</a>
